<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'home'}) %>

<body>
  <%- include('partials/nav', {navtitle: 'Fran'}) %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <div>
    <form action="/<%= alumno.id %>?_method=PUT " method="post" >
      <div class="form-control">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Ingrese nombre Nombre" value="<%= alumno.nombre  %> ">
      </div>
      <div class="form-control">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" placeholder="Ingrese nombre Apellido"  value="<%= alumno.apellido %>" >
      </div>
      <div class="form-control">
        <label for="pass">Password</label>
        <input type="password" name="pass" placeholder="Ingrese nombre password"  value="<%= alumno.pass  %>" >
      </div>
      <div>
        <input type="submit" value="Guardar">
        <input type="reset" value="limpiar">
      </div>
    </form>
  </div>

</body>

</html>